.creatorsh1 {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-transform: capitalize;
    color: #101010;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 80px;
}

.creatorspan {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 35px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.creatorspan>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    /* gap: 121px; */
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    
    text-align: left;
}

.creatorspan div p{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #101010;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* text-align: left!important; */
    /* display: inline; */
}

.creatorsection {
    width: 100%;
    min-height: 500px;
    padding-left: 5%;
    padding-right: 5%;  
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin-bottom: 80px;
}